
:root{
  --primary-color: #66503e;
  --secondary-color: #b89072;
  --accent-color: #ccb191;
  --highlight-color: #e1dbd3;
  --danger-color: #faf7f5; 
  --dark-icon-color: #fff;
  --light-icon-color: #FFDE59;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
  }
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700');
body.dark-mode {
  background-color: #212121;
  --primary-color: #140714; /* Change primary color for dark mode */
  --secondary-color: #621A62; /* Change secondary color for dark mode */
  --accent-color: #9f5999; /* Change accent color for dark mode */
  --highlight-color: #f3b1e4; /* Change highlight color for dark mode */
  --danger-color: #e7e0e4; /* Change danger color for dark mode */
} 
*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
} 
html{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
  body{
    height: 100%;
  }


/* -------------- HEROSECTION -------------- */ 
.hero-section{
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}
/* -------------- HEROSECTION -------------- */ 
/* -------------- CARD -------------- */ 
.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
  margin-top: 20rem;
}
@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}
@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}
.card{
  list-style: none;
  position: relative;
}
.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}
.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}
.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}
.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}
.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}
.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}
.card__heading{
  color: var(--text-lighter);
  font-size: 1.8rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}
/* -------------- CARD -------------- */ 
html, body {
  margin: 0;
  padding: 0;
}

/*-----------TITLE--------------*/ 
@keyframes moveBar {
    100% {
      transform: skew(-40deg) translateY(-1000px);
    }
}
@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.animated-title {
  color: var(--accent-color);
  font-family: 'Roboto', Arial, sans-serif;
  height: 60vmin;
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 90vmin;
  margin-left: 5%;
  margin-top: 1%;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 80%;
}
.animated-title > div div {
  font-size: 8vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid var(--accent-color);
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: var(--secondary-color);
}
.dark-mode .animated-title > div.text-top div span:first-child {
  color: var(--highlight-color);
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}
@media only screen and (max-width: 768px) {
  .animated-title {
    font-size: 5vmin;
    height: 80vmin;
    width: 90vmin;
    margin-left: 5%;
    margin-top: 1%;
  }

  .animated-title > div div {
    font-size: 6vmin;
    padding: 1.5vmin 0;
  }
}
@media only screen and (max-width: 480px) {
  .animated-title {
    font-size: 4vmin;
    height: 100vmin;
    width: 90vmin;
    margin-left: 5%;
    margin-top: 1%;
  }

  .animated-title > div div {
    font-size: 5vmin;
    padding: 1vmin 0;
  }
}
/*-----------TITLE--------------*/ 
/*-----------FOOTER--------------*/  
#footer {
  box-sizing: border-box;
  min-height: 730px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: var(--secondary-color);
  /* font-family: "Bebas Neue" , sans-serif; */
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}
.containerr{
  width: 60%;
  background: var(--primary-color);
  height: auto;
  border-radius: 6px;
  padding: 5px 5px 5px 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  
}
.containerr p, .containerr strong{ 
  text-align:center;
  color: white

}
.par11{
  margin-bottom: 1rem;
}
.containerr .contentt{
  display: flex; 
  align-items: center;
  justify-content: space-between;
}
.containerr .contentt .left-side{
  width: 35%;
  height: 80%;   
}
.contentt .left-side .details{
  margin: 20px;
  text-align: center;
}
.contentt .left-side .details i{
  font-size: 20px;
  color: var(--accent-color);
  margin-bottom: 10px;
}
.contentt .left-side .details .topic{
  font-size: 15px;
  font-weight: 500;
  color: white;
}
.contentt .left-side::before{
  
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.contentt .left-side .details .text-one,
.contentt .left-side .details .text-two{
font-size: 14px;
color:  var(--accent-color);
}
.containerr .content .right-side {
  width: 65%;
  height: 100%; 
  margin-left: 75px;  
}
.contentt .right-side .topic-text {
  font-size: 30px;
  font-weight: 600;
  color:var(--accent-color) ;
  text-align:center;   
  font-family:"Roboto Condensed", serif; 
  text-transform:uppercase;
  letter-spacing:1px;
}
.right-side .input-box{
  height:50px ;
  width: 100%;
  margin: 12px 0;
  text-align: center;
}
.right-side .input-box input{
  height: 100%;
  width: 70%;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-family: 18px;
  background-color: var(--secondary-color);
  border-radius: 6px ;
  padding: 8px 16px;
  cursor: pointer;
}
.button input[type="button"]:hover{
  background-color: var(--accent-color);
}
.last {
  
  color:#ffffff;
  position:absolute;
  bottom: 0px;
  min-height: 10%;
  width: 100%;
  background: var(--secondary-color)    ;
  padding: 0 0 5px 0;
  
}
.last .social{
  text-align:center;
  padding-bottom:5px;
}
.last .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #fff;
  margin:0 10px;
  color:inherit;
  opacity:0.75;
}
.last .social > a:hover {
  opacity:1.5;
}
.last .copyright {
  margin-top:2px;
  text-align:center;
  font-size:15px;
  color:black;
  margin: bottom 10px;
}
@media only screen and (max-width: 1100px) {
  .containerr {
      width: 80%; 
      transition: width 0.3s ease;
  }
  .contentt .left-side {
      width: 35%; 
  }
  .contentt .right-side {
      width: 65%; 
  } 
}
@media only screen and (max-width: 900px) {
  .containerr {
      width: 90%;
      transition: width 0.3s ease;
  }
  .containerr .contentt .left-side::before {
      display: none; 
  }
  .contentt .left-side .details,
  .contentt .right-side .par11 {
      font-size: 16px; 
  }
  .contentt .right-side .topic-text {
      font-size: 20px; 
  }
}
@media only screen and (max-width: 576px) {
  .containerr {
      width: 100%;
      transition: width 0.3s ease;
      
  }
  .containerr .contentt .left-side,
  .containerr .contentt .right-side { 
      margin-left: 0; 
  }
  .right-side .input-box input,
  .right-side  {
      width: 70%;
      
      
  }
  .contentt .left-side .details,
  .contentt .right-side .par11 {
      font-size: 14px; 
      width: 90%;
  }
  .contentt .right-side .topic-text {
      font-size: 18px; 
  }
  .topic-text{
      font-size: 20px;
      width: 90%;
  }

  form{
      width: 90%;
  }
}
/*-----------FOOTER--------------*/  
.notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: green;
  color: white;
  border-radius: 5px;
  z-index: 9999;
  display: none;
}

.notification.success {
  background-color: green;
}

  
  
  
