/* :root{
    --primary-color : #66503e;
    --secondary-color: #b89072;
    --accent-color: #e1dbd3;
    --danger-color:#faf7f5;
  }
  
  body.dark-mode{
    background-color:#212121;
    --primary-color : #140714;
    --secondary-color: #621A62;
    --accent-color: #9f5999;
    --danger-color:#e7e0e4;
  }
   */

body {
    font-family: "Montserrat", sans-serif;
    background: #b89072;
    height: 100%;
}

* {
    margin: 0vh;
    padding: 0;
    box-sizing: border-box;
}

.loginregister {
    display: list-item;
    padding: 24vh;
    margin-top: -17vh;
}

a {
    display: inline-block;
    text-decoration: none;
}

input {
    outline: none !important;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: 700;
}

.row {
    display: flex; /* to make children inline */
}

.brand,
.form {
    display: inline-block; /*  */
    vertical-align: top; /* Align them to the top */
    width: 50%; /* */
}

.brand {
    padding: 3%;
    background: url(https://goo.gl/A0ynht);
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 63vh;
    position: relative;
    box-shadow: 4px 2px 10px #66503e; /*3px,3px,10px)*/
    transition: all 0.6s cubic-bezier(1, -0.375, 0.285, 0.995);
    z-index: 9999;
}
.brand.active {
    width: 100%;
}
.brand::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0);
    z-index: -1;
}
.brand a.logo {
    color: #b89072;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1em;
}
.brand a.logo span {
    font-size: 30px;
    color: #fff;
    transform: translateX(-5px);
    display: inline-block;
}
.brand .heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 0.6s;
}
.brand .heading.active {
    top: 100px;
    left: 100px;
    transform: translate(0);
}
.brand .heading h2 {
    font-size: 350%;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1vh;
}
.brand .heading p {
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: 4px;
    font-family: "Raleway", sans-serif;
    color: #66503e;
}
.brand .success-msg {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
}
.brand .success-msg p {
    font-size: 25px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
}
.brand .success-msg a {
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px 30px;
    background: #66503e;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
}
.brand .success-msg a:hover {
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px 30px;
    background: #fff;
    text-decoration: none;
    color: #66503e;
    border-radius: 30px;
}
.brand .success-msg p,
.brand .success-msg a {
    transition: all 0.9s;
    transform: translateY(20px);
    opacity: 0;
}
.brand .success-msg p.active {
    transform: translateY(0);
    opacity: 1;
}
.brand .success-msg a.active {
    transform: translateY(0);
    opacity: 1;
    margin: 1.5vh;
}

.form {
    position: relative;
}
.form .form-peice {
    background: #fff;
    height: 60vh;
    margin-top: 2vh;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    color: #bbbbbb;
    padding: 30px 0 60px;
    transition: all 0.9s cubic-bezier(1, -0.375, 0.285, 0.995);
    position: absolute;
    top: -0.7vh;
    left: -30%;
    width: 98vh;
    overflow: hidden;
}
.form .form-peice.switched {
    transform: translateX(-100%);
    width: 100%;
    left: 0;
}
.form form {
    padding: 0 40px;
    margin: 0;
    margin-top: 1rem;
    width: 75vh;
    position: absolute;
    top: 27vh;
    left: 60vh;
    transform: translate(-50%, -50%);
}
.form form .form-group {
    margin-bottom: 5px;
    position: relative;
}
.form form .form-group.hasError input {
    border-color: #f95959 !important;
}
.form form .form-group.hasError label {
    color: #f95959 !important;
}
.form form label {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    transform: translateY(40px);
    transition: all 0.4s;
    cursor: text;
    z-index: -1;
}
.form form label.active {
    transform: translateY(10px);
    font-size: 10px;
}
.form form label.fontSwitch {
    font-family: "Raleway", sans-serif !important;
    font-weight: 600;
}
.form form input:not([type="submit"]) {
    background: none;
    outline: none;
    border: none;
    display: block;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #eee;
    color: #444;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    z-index: 1;
}
.form form input:not([type="submit"]).hasError {
    border-color: #f95959;
}
.form form span.error {
    color: #f95959;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    right: 0;
    display: none;
}
.form form input[type="password"] {
    color: #b89072;
}
.form form .CTA {
    margin-top: 30px;
}

.form form .CTA input {
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 30px;
    background: #66503e;
    color: #fff;
    border-radius: 30px;
    margin-right: 20px;
    border: none;
    font-family: "Montserrat", sans-serif;
}
.form form .CTA input:hover {
    background: #fff;
    color: #66503e;
    cursor: pointer;
    transition: all 0.9s;
}
.form form .CTA a.switchbutton {
    font-size: 13px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: #bbbbbb;
    text-decoration: underline;
    transition: all 0.3s;
}
.form form .CTA a.switchbutton:hover {
    color: #66503e;
    transition: all 0.9s;
}
.form form .CTA a.switch {
    font-size: 13px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: #bbbbbb;
    text-decoration: underline;
    transition: all 0.3s;
}
.form form .CTA a.switch:hover {
    color: #66503e;
    transition: all 0.9s;
}

.form form .form-group .position {
    width: 10vh;
    margin-top: 2.7vh;
    margin-left: 7vh;
    border-radius: 1vh;
    font-size: 1.4vh;
    font-weight: 100;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    /* transform: translateY(40px); */
    transition: all 0.4s;
    cursor: pointer;
    border-color: #e1dbd3 !important;
}

.form form .form-group.hasError select {
    border-color: #f95959 !important;
}

.toggle-password i {
    position: absolute;
    top: 66%;
    right: 0.3vh;
    transform: translateY(-50%);
    cursor: pointer;
    color: #e1dbd3;
}
.signup-form {
  margin-top: 50px;
}
.scrollable {
    max-height: 330px; /* Set the maximum height of the container */
    overflow-y: auto;
}
